body{
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding:5px 20px;
    background-color: #124bea;
    border-style: line;
    border-color: darkorange;
    color: white;
    border-width: 3px;
}
input{
    height: 20px;
}